entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]

[[workflows.workflow]]
name = "Python"
mode = "sequential"
author = 41243465

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 python.py"

[[workflows.workflow]]
name = "textblob"
mode = "sequential"
author = 41243465

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 textblob_test.py"

[[workflows.workflow]]
name = "install"
mode = "sequential"
author = 41243465

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install wordcloud"

[[workflows.workflow]]
name = "nltk"
mode = "sequential"
author = 41243465

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 nltk_test.py"

[[workflows.workflow]]
name = "Analyze Adverse Events"
author = 41243465
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 analyze_adverse_events.py"

[[workflows.workflow]]
name = "test_run"
mode = "sequential"
author = 41284814

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 test_file.py"
